@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #001f4a;
}

/* ======================================== NAVBAR ========================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6vw 6vw;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}

#hero {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 1.8vw;
  line-height: 1.5vw;
  font-weight: 1000;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #001f4a;
  text-align: start;
}

.logo-bawah {
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.4px;
}

#hero:hover {
  color: #0049a8;
  transition: color 0.2s ease-in-out;
}

#logoo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 1.8vw;
  line-height: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #ffffff;
  text-align: start;
}

#logoo:hover {
  color: #b0d8ff;
  transition: color 0.2s ease-in-out;
}

.logo-img img {
  width: 2.7vw;
  margin-top: 5px;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  top: 32%;
  right: 4%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.navbar a {
  position: relative;
  color: #001f4a;
  margin: 0 1.6vw;
  text-decoration: none;
  opacity: 1;
}

.navbar a:hover {
  color: #0049a8;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -0.3vw;
  left: 0;
  width: 0;
  height: 0.2vw;
  background: linear-gradient(90deg, #66b4ff 0%, #0055c9 100%);
  transition: width 0.7s ease;
}

.navbar a:hover::before {
  width: 100%;
}

.button-wrapper {
  display: inline-block;
}

.button1 {
  padding: 0.8vw 2vw;
  border-radius: 30vw;
  background: var(
    --gradient1,
    linear-gradient(90deg, #66b4ff 0%, #0055c9 100%)
  );
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 400;
  transition: transform 0.4s ease-in-out;
  display: block;
}

.button1:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 1.6vw 6%;
  }
  .logo-wrapper {
    gap: 0vw;
  }
  .button1 {
    padding: 0.8vw 2.1vw;
    font-size: 1.3vw;
  }
  .navbar a {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.1rem 2rem;
  }
  #hero {
    font-size: 2.5vw;
    line-height: 2vw;
  }
  .logo-bawah {
    font-size: 1.3vw;
  }
  .logo-img img {
    width: 3.5vw;
    margin-top: 4px;
    height: auto;
  }
  .icons {
    top: 25%;
    right: 7%;
    display: block;
    height: 5vw;
    width: 5vw;
  }

  #menu-icon {
    width: 5vw;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: auto;
    right: 8%;
    top: 18%;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0rem;
    background-color: #001f4a;
    overflow: hidden;
    transition: 0.3s ease;
    flex-direction: column;
    align-items: center;
  }
  .navbar a:hover {
    color: #b0d8ff;
    font-weight: 600;
  }
  .navbar a:hover::before {
    width: 0%;
  }
  #check:checked ~ .navbar {
    height: 14rem;
  }
  .navbar a {
    font-size: 0.9rem;
    color: #ffffff;
    margin: 10px 0;
  }

  .button-wrapper {
    position: absolute;
    right: 15%;
  }
  .button1 {
    padding: 0.6rem 1.5rem;
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0.7rem 2rem;
  }
  #hero {
    font-size: 3vw;
    line-height: 2.3vw;
  }
  .logo-bawah {
    font-size: 1.5vw;
  }
  .logo-img img {
    margin-top: 5px;
    margin-left: -5px;
    width: 6vw;
    height: auto;
  }
  .button-wrapper {
    position: absolute;
    right: 16%;
  }
  .button1 {
    padding: 0.35rem 0.9rem;
    font-size: 2.5vw;
  }
  .icons {
    position: absolute;
    top: 27%;
    right: 7%;
    display: block;
    width: 5.5vw;
    height: auto;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
    position: absolute;
    width: 1.1rem;
    height: auto;
    right: 7%;
    top: 22%;
  }
}

/* ==================================== LANDING PAGE ==================================== */

.container {
  top: 0;
  left: 0;
  width: 100%;
  padding: 8vw 5vw 9vw 5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

.bagiDua {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.isiDua {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 6vw 0vw 5.5vw 0vw;
}

#image-landing-page {
  margin-left: -30px;
  width: 53%;
  transform: translateY(100%);
  animation: slideInImage 1.3s ease forwards;
}

#content-landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  margin-left: 4.5vw;
  margin-top: -1vw;
  transform: translateY(100%);
  animation: slideInContent 1.2s ease forwards;
}

#title {
  display: flex;
  flex-direction: column;
}

.title-landing-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 6vw;
}

.title-landing-page span {
  font-size: 4.8vw;
  margin-right: 0.8vw;
  font-weight: 800;
}

.pink {
  color: #e94782;
}

.yellow {
  color: #ffd148;
}

.subtitle {
  font-size: 1.45vw;
  font-weight: 300;
  line-height: 2.5vw;
  width: 90%;
}

.idk-landing-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.get {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
  align-items: center;
}

.checked {
  width: 2vw;
  margin-right: 15px;
}

.get h3 {
  font-size: 1.3vw;
  font-weight: 500;
}

#button-subscribe {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  font-weight: 400;
  padding: 0.9vw 6.5vw;
}

.button2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.5vw;
  padding: 1vw 2vw;
  background: var(
    --gradient1,
    linear-gradient(90deg, #66b4ff 0%, #0055c9 100%)
  );
  border-radius: 30vw;
  box-shadow: 0.2vw 0.2vw 0 #66b4ff;
  background: #ffffff;
  color: #001f4a;
  text-decoration: none;
  width: 16vw;
  transition: transform 0.4s ease-in-out;
}

.button2:hover {
  transform: scale(0.94);
}

.button2 h3 {
  font-size: 1.2vw;
  font-weight: 500;
}

.button2 img {
  width: 1.8vw;
  transition: transform 0.3s;
}

.button2:hover img {
  transform: translateX(0.3vw);
}

.isiTiga {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-between;
  border-radius: 3vw;
  background: #0049a8;
  padding: 4vw 2.5vw;
  animation: swipeRightToLeft 1.4s forwards;
}

.biruTiga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logo-blue {
  width: 22%;
  margin-right: 2vw;
}

.logo-blue:hover {
  animation: bounce-skills 0.6s;
}

.content-circle {
  color: #ffffff;
}

.content-circle h4 {
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 3vw;
}

.content-circle h2 {
  font-size: 2.2vw;
  font-weight: 600;
  line-height: 3vw;
}

@media screen and (max-width: 1200px) {
  #content-landing-page {
    margin-left: 10vw;
  }
  .subtitle{
    width: 100%;
  }
  .isiTiga {
    justify-content: space-evenly;
    padding-left: 9vw;
  }
  .biruTiga {
    flex-direction: column;
    gap: 1.2vw;
    align-items: flex-start;
  }
  .logo-blue {
    width: 30%;
    margin-right: 0vw;
  }
  .content-circle h4 {
    font-size: 1.8vw;
    line-height: 3.5vw;
  }
  .content-circle h2 {
    font-size: 3.2vw;
    line-height: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .isiDua {
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10vw 0vw 4vw 0vw;
  }
  #image-landing-page {
    width: 70%;
  }
  #content-landing-page {
    width: 90%;
    height: auto;
    padding: 0;
    margin-top: 1.5vw;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  .title-landing-page {
    height: 9.5vw;
    justify-content: center;
    align-items: center;
  }
  .title-landing-page span {
    font-size: 8.2vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
  }
  .subtitle {
    width: 95%;
    margin-top: 2vw;
    font-size: 3vw;
    text-align: center;
    line-height: 160%;
  }
  .idk-landing-page {
    width: 80%;
    margin-top: 3vw;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0vw;
  }

  #tipe2 {
    margin-left: -6.5vw;
  }

  .checked {
    width: 3.5vw;
    margin-right: 5px;
  }
  .get {
    margin: 0;
  }
  .get h3 {
    font-size: 2.3vw;
  }
  #tipe2 {
    justify-content: center;
    margin: 0;
    margin-top: 3vw;
    gap: 2.5vw;
  }
  #button-subscribe {
    padding: 1.3vw 10vw;
    font-size: 2.4vw;
  }

  .button2 {
    padding: 1.3vw 4vw;
    width: 32vw;
    margin-left: 0vw;
  }

  .button2 h3 {
    font-size: 2.2vw;
    font-weight: 400;
  }

  .button2 img {
    width: 3.5vw;
  }
  .header {
    padding-left: 7vw;
    padding-right: 7vw;
  }
  .isiTiga {
    width: 95%;
    margin-top: 1.2vw;
    margin-bottom: 0.6vw;
    flex-direction: column;
    padding-left: 0vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  .logo-blue {
    width: 18%;
    margin-right: 5vw;
  }
  .biruTiga {
    padding: 2.1vw 0vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24.5vw;
  }
  .content-circle h4 {
    font-size: 2.3vw;
    line-height: 4.7vw;
    font-weight: 400;
  }
  .content-circle h2 {
    font-size: 4.2vw;
    line-height: 4.7vw;
  }
}

@media screen and (max-width: 500px) {
  .isiDua {
    padding: 13vw 0vw 5vw 0vw;
  }
}

/* =================================== FEATURES PAGE ===================================== */

#features {
  background: #deefff;
  color: #001f4a;
  padding: 6vw 0vw 8vw 0vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5vw;
}

.section-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 6vw;
}

.section-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  animation: swipeLeftToRight 1s ease-out forwards;
}

.section-title h1 {
  font-size: 2.6vw;
  line-height: 5.5vw;
}

p {
  font-size: 1.4vw;
  line-height: 2.5vw;
  font-weight: 300;
  color: #345a8b;
}

.section-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2vw;
  animation: swipeRightToLeft 0.8s ease-out forwards;
}

.features_button {
  text-decoration: none;
  font-size: 3vw;
  display: flex;
  width: 4vw;
  height: 4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30vw;
  background: #b0d8ff;
  color: #ffffff;
  border-style: none;
  transition: background ease-out 0.5s;
  transition: transform 0.3s ease-in-out;
}

.features_button:hover {
  background: #66b4ff;
  cursor: pointer;
  transform: scale(1.05);
}

#slider {
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 6vw;
  display: block;
  height: 29vw;
}

.slide {
  justify-content: center;
  height: 27vw;
  align-items: center;
  flex-shrink: 0;
}

.slide-content {
  background: #ffffff;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  padding: 0 3vw;
  align-items: center;
  text-align: center;
  gap: 2vw;
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  justify-content: center;
}

.slide-content:hover {
  background: #66b4ff;
  transform: scale(1.05);
  padding: 0vw 2.8vw;
  cursor: pointer;
  justify-content: center;
}

.slide-content img {
  height: 11vw;
  object-fit: cover;
}

.slide-content:hover img {
  display: none;
}

.slide-content p {
  display: none;
}

.slide-content:hover p {
  color: #001f4a;
  display: block;
  font-size: 1.2vw;
  line-height: 2vw;
}

.slide-content h2 {
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 600;
}

.inner {
  display: flex;
  align-items: center;
  transition: transform 1s ease-in-out;
  margin-top: 0.2vw;
  gap: 3.5vw;

  position: absolute;
  inset: 0;
}

@media screen and (max-width: 1200px) {
  #features {
    padding-bottom: 7vw;
  }
  #slider {
    height: 35vw;
  }
  .slide {
    height: 33vw;
  }
  .slide-content {
    padding: 0 4vw;
    gap: 2.5vw;
  }
  .section-button {
    gap: 2.5vw;
  }
  .features_button {
    font-size: 3.8vw;
    width: 5.3vw;
    height: 5.3vw;
  }
  .slide-content img {
    height: 15vw;
  }
  .slide-content h2 {
    font-size: 2.3vw;
    line-height: 2.5vw;
  }
  .slide-content:hover {
    padding: 0 5vw;
  }
  .slide-content:hover p {
    font-size: 1.5vw;
    line-height: 2.3vw;
  }
}

@media screen and (max-width: 768px) {
  #slider {
    height: 45vw;
  }
  .slide {
    height: 42vw;
  }
  .slide-content {
    padding: 0 7vw;
    gap: 3vw;
  }
  .slide-content img {
    height: 20vw;
  }
  .slide-content h2 {
    font-size: 3.2vw;
    line-height: 4vw;
  }
  .slide-content:hover {
    padding: 0 5vw;
  }
  .slide-content:hover p {
    font-size: 2.3vw;
    line-height: 3.7vw;
  }
  .section-title-container {
    padding: 0 5vw;
  }
  .section-title {
    padding-left: 2.2vw;
    width: 80%;
  }
  .section-title h1 {
    font-size: 4vw;
    line-height: 7vw;
  }
  .section-title p {
    font-size: 1.8vw;
    line-height: 2.8vw;
  }
  .features_button {
    font-size: 4vw;
    width: 6vw;
    height: 6vw;
  }
  .section-button {
    padding-right: 2.2vw;
  }
}

/* ======================================== BEST-SELLING PAGE ======================================== */

#best_selling {
  width: 100%;
  margin: 0;
  padding: 7vw 0 9vw 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 7vw;
}

.text_wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  gap: 2vw;
}

#best_selling h1 {
  font-size: 4vw;
  font-style: italic;
  letter-spacing: 0.2vw;
  color: #66b4ff;
  white-space: nowrap;
  animation: move_infinite 6000ms linear infinite;
}

.best-selling_container {
  padding-left: 9.5vw;
  width: 100%;
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3vw;
}

#biru_best-selling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  gap: 6.5vw;
  position: relative;
  padding: 0.8vw 0vw 0.8vw 2vw;
}

#biru_best-selling h2 {
  font-size: 2.8vw;
  font-weight: 500;
  line-height: 1.5vw;
}

#biru_best-selling h3 {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
}

#biru_best-selling span {
  font-size: 4vw;
  font-weight: 700;
  line-height: 4.7vw;
}

.tiga-ceklis-content {
  border-left: 1px solid #ffffff;
  padding-left: 6vw;
  padding-bottom: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  width: 38vw;
  padding-right: 1vw;
}

.tiga-ceklis-content h4 {
  font-size: 1.3vw;
  line-height: 0.9vw;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.ceklis-content {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: center;
  margin-top: 0.5vw;
}

.ceklis {
  width: 9%;
}

#blue-card {
  display: flex;
  width: 100%;
  padding: 3vw 3vw 2.8vw 0vw;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 2.5vw;
  background: #0049a8;
  color: #ffffff;
  box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 0, 0, 0.15);
}

#achiever {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1vw;
  margin-left: 6vw;
}

#achiever h2 {
  font-size: 3.4vw;
  line-height: 3.7vw;
}

#achiever span {
  font-size: 4.5vw;
  font-weight: 700;
}
#achiever h3 {
  font-size: 2.5vw;
}

#button_bs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
}

#button_best-selling {
  font-size: 1.4vw;
  padding: 0.9vw 2.5vw;
}

.bs-under {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 13.8vw;
  padding-right: 3.2vw;
  align-items: center;
}

.text_wrapper_bs {
  display: flex;
  padding: 0.8vw 3vw;
  justify-content: center;
  align-items: center;
  border-radius: 30vw;
  background: #deefff;
  box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 31, 74, 0.15) inset;
}

.text_wrapper_bs p {
  font-size: 1.4vw;
  font-weight: 500;
}

#viewAll-bs {
  padding: 1vw 2.3vw;
  width: 12.2vw;
  margin: 0;
}

#viewAll-bs h3 {
  font-size: 1.25vw;
}

#viewAll-bs img {
  width: 23.5%;
}

#circular {
  width: 16%;
  position: absolute;
  left: 6vw;
  background: #ffd148;
  padding: 1.9vw;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}

.coba2 {
  display: flex;
  align-items: flex-start;
}

.coba {
  display: flex;
  align-items: flex-end;
}

#sparkle-pink {
  width: 6.5vw;
  position: absolute;
  padding-top: 4vw;
  animation: moveUpDown 3s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .best-selling_container {
    gap: 4vw;
    width: 85vw;
    padding-left: 1.5vw;
  }
  #biru_best-selling {
    gap: 6vw;
  }
  .tiga-ceklis-content {
    padding-left: 5.2vw;
    gap: 1.1vw;
    width: 42.5vw;
    padding-right: 1vw;
  }
  .tiga-ceklis-content h4 {
    font-size: 1.7vw;
  }
  #blue-card {
    display: flex;
    width: 100%;
    padding: 3.5vw 3vw 4vw 0vw;
    gap: 1vw;
  }
  #achiever {
    margin-left: 4vw;
  }
  #achiever h2 {
    font-size: 3.5vw;
    line-height: 5vw;
  }
  #achiever span {
    font-size: 5.2vw;
  }
  #achiever h3 {
    font-size: 3vw;
  }
  #button_best-selling {
    font-size: 1.9vw;
    padding: 1.15vw 3.6vw;
  }
  .bs-under {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 7.3vw;
    padding-right: 3.2vw;
    align-items: center;
  }

  .text_wrapper_bs {
    display: flex;
    padding: 1.4vw 3.5vw;
  }

  .text_wrapper_bs p {
    font-size: 1.9vw;
    font-weight: 500;
  }

  #viewAll-bs {
    padding: 1.2vw 2.6vw;
    width: 17.5vw;
    margin: 0;
  }

  #viewAll-bs h3 {
    font-size: 1.9vw;
  }
  #sparkle-pink {
    display: none;
  }
  #circular {
    width: 17.5vw;
  }
}

/* ====================================== FAQ ======================================== */

.faq-button {
  display: flex;
  width: 5vw;
  height: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30vw;
  background: #66b4ff;
}

.faq-button img {
  width: 50%;
}

.faq-button:hover img {
  animation: bounce-skills 0.6s;
}

#faq {
  background: #deefff;
  color: #001f4a;
  padding: 7vw 0vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5.5vw;
}

.faq-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 6vw;
}

.faq-item {
  background: #ffffff;
  box-shadow: 0px 0.3vw 0.3vw 0px rgba(0, 31, 74, 0.15);
  margin-bottom: 2.5vw;
  padding: 1.8vw 3.2vw 0.6vw 3.2vw;
  border-radius: 2vw;
  animation: fadeInUp 1s ease-out forwards;
}

.question-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4vw;
  font-weight: 600;
}

.answer {
  line-height: 2.1vw;
  font-weight: 400;
  color: #345a8b;
  font-size: 1.2vw;
  margin-bottom: 1.3vw;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.answer.active {
  opacity: 100;
}

.answer.inactive {
  max-height: 0;
}

.toggle-button {
  border-style: none;
  background: #ffffff;
  font-size: 2.3vw;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .question {
    font-size: 1.8vw;
  }
  .toggle-button {
    font-size: 2.8vw;
  }
  .answer {
    font-size: 1.3vw;
    line-height: 2.4vw;
    margin-bottom: 0.8vw;
  }
  p {
    font-size: 1.5vw;
    line-height: 2.3vw;
  }
  .section-title-container {
    margin-bottom: 0.5vw;
  }
  .faq-button {
    width: 5.8vw;
    height: 5.8vw;
  }
  .faq-item {
    margin-bottom: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .section-title-container {
    margin-bottom: 1vw;
  }
  #faq {
    padding-left: 1vw;
    padding-right: 2vw;
  }
  .faq-button {
    width: 6.3vw;
    height: 6.3vw;
  }
  .faq-item {
    padding: 2vw 4vw;
    margin-bottom: 3.2vw;
  }
  .question-toggle-container {
    height: 5vw;
    text-align: center;
  }
  .question {
    font-size: 2.2vw;
  }
  .toggle-button {
    font-size: 4.5vw;
  }
  .answer {
    font-size: 1.7vw;
    line-height: 2.9vw;
    margin-bottom: 1vw;
  }
}

/* ====================================== TESTIMONIALS =========================================*/

#testimonials {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8vw 6vw;
}

.testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  height: auto;
  width: 45%;
  animation: swipeLeftToRight 1s ease-out forwards;
}

.testimonials-content h1 {
  font-size: 3vw;
}

.testimonials-content p {
  line-height: 2.5vw;
}

#img_wrapper {
  width: 100%;
  transition: transform 0.8s;
  animation: infiniteScale 3s infinite alternate;
}

#viewAll {
  margin-top: 0.5vw;
  margin-left: -1vw;
  width: 11vw;
  padding: 0.8vw 2vw;
  align-items: center;
}
#viewAll h3 {
  font-size: 1.15vw;
  font-weight: 500;
}
#viewAll img {
  width: 1.7vw;
}

@media screen and (max-width: 768px) {
  #testimonials {
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding: 5.5vw 5vw 6.5vw 4.5vw;
  }
  .testimonials-container {
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
  }
  .testimonials-container {
    padding: 1vw 3vw;
  }
  .testimonials-content {
    gap: 1.1vw;
  }
  .testimonials-content h1 {
    font-size: 3.6vw;
  }

  .testimonials-content p {
    font-size: 1.8vw;
    line-height: 2.8vw;
  }
  #viewAll {
    margin-top: 1.1vw;
    width: 16vw;
    padding: 1vw 2.5vw;
    align-items: center;
  }
  #viewAll h3 {
    font-size: 1.8vw;
    font-weight: 400;
  }
  #viewAll img {
    width: 2.4vw;
  }
}

/* ================================ FOOTER ================================= */

.footer {
  width: 100%;
  padding: 4vw 7vw 2vw 6.2vw;
  margin: 0;
  box-sizing: border-box;
  background: #001f4a;
}

.bagiDuaFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
}

.footerTigaAtas {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.jenius-bawah {
  line-height: 1.9vw;
}

.footerTigaBox {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 1.5vw;
}

.footerTigaBox p {
  font-size: 1.2vw;
  color: #7790b2;
  line-height: 1.9vw;
  width: 22vw;
}

.footerIsiTiga {
  margin-bottom: -0.5vw;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

#subscribe-footer {
  display: flex;
  flex-direction: column;
}

.footer-bs {
  border-top: 0.1vw solid #345a8b;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#footer-btn {
  padding: 0.7vw 1.3vw;
  font-size: 1.3vw;
  width: 10.5vw;
  text-align: center;
}

#footer-button {
  justify-content: flex-start;
  gap: 1.7vw;
}

.footer-bs p {
  font-size: 1.2vw;
  color: #7790b2;
}

#footer_button {
  width: 4vw;
  height: 4vw;
}

#facebook {
  width: 1.3vw;
}

.title {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

@media screen and (max-width: 1200px) {
  .footerTigaBox p {
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
  .footer-bs p {
    font-size: 1.4vw;
  }
  #footer_button {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1vw 2vw 0vw 1.5vw;
  }
  .jenius-bawah {
    font-size: 2.5vw;
    margin-bottom: 0.4vw;
  }
  .bagiDuaFooter {
    padding: 4.5vw 6vw 4vw 6vw;
    gap: 4vw;
  }
  .footer-bs {
    padding-top: 3vw;
  }
  .footerTigaBox {
    gap: 2vw;
  }
  .footerTigaBox p {
    font-size: 1.8vw;
    line-height: 2.7vw;
  }
  .footer-bs p {
    font-size: 1.6vw;
  }
  #footer_button {
    width: 5.5vw;
    height: 5.5vw;
  }
  #footer-btn {
    margin-top: 0.7vw;
    padding: 1vw 1.3vw;
    font-size: 2vw;
    width: 15.5vw;
  }
  .title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .jenius-bawah {
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  .title {
    font-size: 3vw;
  }
}

/*============================================= ANIMATIONS ========================================*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInImage {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInContent {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipeRightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipeLeftToRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes move_infinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes bounce-skills {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(-5px);
    }
    40% {
      transform: translate(0);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translate(0);
    }
  }

  @keyframes infiniteScale {
    0% {
      transform: scale(0.98);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.98);
    }
  }

  @keyframes fadeInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}