@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100%;
  background: #deefff;
  color: #001f4a;
}

/* ======================================== NAVBAR ========================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6vw 6vw;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

#hero {
  margin-right: 7px;
  font-size: 2vw;
  font-weight: 1000;
  text-decoration: none;
  color: #001f4a;
}

#hero:hover {
  color: #0049a8;
  transition: color 0.2s ease-in-out;
}

.logo-img img {
  height: 2.2vw;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  top: 32%;
  right: 4%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.navbar a {
  position: relative;
  color: #001f4a;
  margin: 0 1.6vw;
  text-decoration: none;
  opacity: 1;
}

.navbar a:hover {
  color: #0049a8;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -0.3vw;
  left: 0;
  width: 0;
  height: 0.2vw;
  background: linear-gradient(90deg, #66b4ff 0%, #0055c9 100%);
  transition: width 0.7s ease;
}

.navbar a:hover::before {
  width: 100%;
}

.button-wrapper {
  display: inline-block;
}

.button1 {
  padding: 0.8vw 2vw;
  border-radius: 30vw;
  background: var(
    --gradient1,
    linear-gradient(90deg, #66b4ff 0%, #0055c9 100%)
  );
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 400;
  transition: transform 0.4s ease-in-out;
  display: block;
}

.button1:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 1.6vw 6%;
  }
  #hero {
    font-size: 1.9vw;
  }
  .logo-img img {
    height: 2.1vw;
  }
  .button1 {
    padding: 0.8vw 2.1vw;
    font-size: 1.3vw;
  }
  .navbar a {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1.1rem 2rem;
  }
  .icons {
    top: 25%;
    right: 7%;
    display: block;
    height: 5vw;
    width: 5vw;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: auto;
    right: 8%;
    top: 18%;
  }

  #hero {
    font-size: 3.2vw;
    margin-right: 1.2vw;
  }
  .logo-img img {
    position: absolute;
    top: 35%;
    height: 3.2vw;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0rem;
    /* backdrop-filter: blur(50px); */
    background-color: #001f4a;
    overflow: hidden;
    transition: 0.3s ease;
    flex-direction: column;
    align-items: center;
  }
  .navbar a:hover {
    color: #b0d8ff;
    font-weight: 600;
  }
  .navbar a:hover::before {
    width: 0%;
  }
  #check:checked ~ .navbar {
    height: 14rem;
  }
  .navbar a {
    font-size: 0.9rem;
    color: #ffffff;
    margin: 10px 0;
  }

  .button-wrapper {
    position: absolute;
    right: 15%;
  }
  .button1 {
    padding: 0.6rem 1.5rem;
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0.7rem 2rem;
  }
  .button-wrapper {
    position: absolute;
    right: 16%;
  }
  .button1 {
    padding: 0.35rem 0.9rem;
    font-size: 2.5vw;
  }
  .icons {
    position: absolute;
    top: 27%;
    right: 7%;
    display: block;
    width: 5.5vw;
    height: auto;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
    position: absolute;
    width: 1.1rem;
    height: auto;
    right: 7%;
    top: 22%;
  }

  #hero {
    font-size: 4vw;
  }
  .logo-img img {
    height: 4vw;
  }
}

/* ========================================== ISI REGISTER PAGE ===========================================*/

.isi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.isi::before,
.isi::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(331deg, hsl(210, 100%, 87%) 25.5%, #66b4ff 90.3%);
  z-index: -1;
  animation: moveCircle 10s linear infinite;
}

.isi::before {
  width: 450px;
  height: 450px;
  top: -4%;
  left: -8%;
}

.isi::after {
  width: 250px;
  height: 250px;
  bottom: 5%;
  right: -2%;
}

@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(60px, 20px);
  }
  50% {
    transform: translate(0, -40px);
  }
  75% {
    transform: translate(-60px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.container {
  position: relative;
  border-radius: 3vw;
  padding: 50px;
  margin: 12.5vw 6vw 6.5vw 6vw;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container header {
  position: relative;
  font-size: 28px;
  font-weight: 700;
}

.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  height: 3px;
  width: 105px;
  border-radius: 8px;
  background-color: #0055c9;
}

#form {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 3vw;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 20px);
  margin-top: -10px;
}

.input-field label {
  font-size: 15px;
  font-weight: 500;
}

#username:focus {
  box-shadow: 0 0 10px rgba(0, 73, 168, 0.35);
  border: 1px solid #0049a8;
  outline: none;
}

#date:focus {
  box-shadow: 0 0 10px rgba(0, 73, 168, 0.35);
  border: 1px solid #0049a8;
  outline: none;
}

#email:focus {
  box-shadow: 0 0 10px rgba(0, 73, 168, 0.35);
  border: 1px solid #0049a8;
  outline: none;
}

#password:focus {
  box-shadow: 0 0 10px rgba(0, 73, 168, 0.35);
  border: 1px solid #0049a8;
  outline: none;
}

#confirmpassword:focus {
  box-shadow: 0 0 10px rgba(0, 73, 168, 0.35);
  border: 1px solid #0049a8;
  outline: none;
}

.input-field input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2vw;
  border: 1px solid #0055c9;
  padding: 0 20px;
  height: 42px;
  margin: 8px 0;
  background-color: #ffffff;
  color: #001f4a;
}

input::placeholder {
  color: #001f4a;
}

.input-field div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-field label {
  margin-left: 10px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
  margin-top: 10px;
}

.button-group button {
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.btn button {
  padding: 0.8vw 0;
  border-radius: 30vw;
  background: var(
    --gradient1,
    linear-gradient(90deg, #66b4ff 0%, #0055c9 100%)
  );
  color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.btn button:hover {
  transform: scale(0.9);
}

.btnn button {
  padding: 0.8vw 0;
  border-radius: 30vw;
  background: linear-gradient(90deg, #deefff 0%, #b0d8ff 120%);
  color: #0049a8;
  border: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.btnn button:hover {
  transform: scale(0.9);
}

#error {
  margin-top: 20px;
  color: red;
}

@media (max-width: 1200px) {
  .input-field {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .input-field {
    width: 100%;
  }
}

/* ================================ FOOTER ================================= */

.footer {
  width: 100%;
  padding: 4vw 7vw 2vw 6.2vw;
  margin: 0;
  box-sizing: border-box;
  background: #001f4a;
}

.bagiDuaFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
}

.footerTigaAtas {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.footerTigaBox {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 1.5vw;
}

.footerTigaBox p {
  font-size: 1.2vw;
  color: #7790b2;
  line-height: 1.9vw;
  width: 22vw;
}

.footerIsiTiga {
  margin-bottom: -0.5vw;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 0.8vw;
}

.title h4 {
  font-size: 1.7vw;
  font-weight: 500;
}

.title img {
  width: 2.2vw;
  height: 2.2vw;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

#subscribe-footer {
  display: flex;
  flex-direction: column;
}

.footer-bs {
  border-top: 0.1vw solid #345a8b;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#footer-btn {
  padding: 0.7vw 1.3vw;
  font-size: 1.3vw;
  width: 10.5vw;
  text-align: center;
}

.footer-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 2vw;
  justify-content: flex-start;
  gap: 1.7vw;
}

.footer-bs p {
  font-size: 1.2vw;
  color: #7790b2;
}

.footer_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 30vw;
  background: #66b4ff;
  width: 4vw;
  height: 4vw;
}

.footer_button img {
  width: 50%;
}

.footer_button:hover img {
  animation: bounce-skills 0.6s;
}

#facebook {
  width: 1.3vw;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translate(0);
  }
}

@media screen and (max-width: 1200px) {
  .footerTigaBox p {
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
  .title h4 {
    font-size: 1.9vw;
    font-weight: 600;
  }
  .footer-bs p {
    font-size: 1.4vw;
  }
  #footer_button {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1vw 2vw 0vw 1.5vw;
  }
  .bagiDuaFooter {
    padding: 4.5vw 6vw 4vw 6vw;
    gap: 4vw;
  }
  .footer-bs {
    padding-top: 3vw;
  }
  .footerTigaBox {
    gap: 2vw;
  }
  .footerTigaBox p {
    font-size: 1.8vw;
    line-height: 2.7vw;
  }
  .title h4 {
    font-size: 2.3vw;
    font-weight: 600;
  }
  .title img {
    width: 3vw;
    height: 3vw;
  }
  .footer-bs p {
    font-size: 1.6vw;
  }
  #footer_button {
    width: 5.5vw;
    height: 5.5vw;
  }
  #footer-btn {
    margin-top: 0.7vw;
    padding: 1vw 1.3vw;
    font-size: 2vw;
    width: 15.5vw;
  }
}
