@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #001f4a;
}

/* ======================================== NAVBAR ========================================= */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.6vw 6vw; 
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}

#hero{
  display: flex;
  flex-direction: column;
  margin-right: 10px; 
  font-size: 1.8vw;
  line-height: 1.5vw;
  font-weight: 1000;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #001F4A;
  text-align: start;
}

.logo-bawah {
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.4px;
}

#hero:hover {
  color: #0049A8 ;
  transition: color 0.2s ease-in-out;
}

#logoo{
  display: flex;
  flex-direction: column;
  margin-right: 10px; 
  font-size: 1.8vw;
  line-height: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #ffffff;
  text-align: start;
}

#logoo:hover {
  color: #B0D8FF;
  transition: color 0.2s ease-in-out;
}

.logo-img img {
  height: 2.7vw; 
}

#check {
  display: none;
}

.icons {
  position: absolute;
  top: 32%;
  right: 4%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar {
  flex: 1; 
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.navbar a {
  position: relative; 
  color: #001F4A;
  margin: 0 1.6vw; 
  text-decoration: none;
  opacity: 1; 
}

.navbar a:hover {
  color: #0049A8;
}

.navbar a::before {
  content: ''; 
  position: absolute;
  bottom: -0.3vw; 
  left: 0; 
  width: 0; 
  height: 0.2vw; 
  background: linear-gradient(90deg,  #66B4FF 0%, #0055C9 100%);
  transition: width 0.7s ease;
}

.navbar a:hover::before {
  width: 100%; 
}

.button-wrapper{
  display: inline-block;
}

.button1 {
  padding: 0.8vw 2vw;
  border-radius: 30vw;
  background: var(--gradient1, linear-gradient(90deg, #66B4FF 0%, #0055C9 100%));
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 400;
  transition: transform 0.4s ease-in-out;
  display: block;
}

.button1:hover {
  transform: scale(0.9); 
}

@media screen and (max-width: 1200px) {
  .header{
      padding: 1.6vw 6%;
  }
  .logo-wrapper{
      gap: 0vw;
  }
  .button1{
      padding: 0.8vw 2.1vw;
      font-size: 1.3vw;
  }
  .navbar a{
      font-size: 1.3vw;
  }
}

@media screen and (max-width: 768px){
  .header {
      padding: 1.1rem 2rem; 
  }
  #hero{
      font-size: 2.5vw;
      line-height: 2vw;
  }
  .logo-bawah{
      font-size: 1.3vw;
  }
  .logo-img img{
      width: 3.5vw;
      height: auto;
  }
  .icons {
      top: 25%;
      right: 7%;
      display: block;
      height: 5vw;
      width: 5vw;
  }

  #menu-icon{
      width: 5vw;
    }

  #check:checked~.icons #menu-icon {
      display: none;
  }

  .icons #close-icon {
      display: none;
  }

  #check:checked~.icons #close-icon {
      display: block;
      position: absolute;
      width: 1.6rem;
      height: auto;
      right: 8%;
      top: 18%;
  }
  .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0rem;
      background-color: #001F4A;
      overflow: hidden;
      transition: .3s ease;
      flex-direction: column; 
      align-items: center;
  }
  .navbar a:hover{
      color: #B0D8FF;
      font-weight: 600;
  }
  .navbar a:hover::before {
      width: 0%; 
  }
  #check:checked~.navbar {
      height: 14rem;
  }
  .navbar a{
      font-size: 0.9rem;
      color: #ffffff;
      margin: 10px 0;
  }

  .button-wrapper{
      position: absolute;
      right: 15%;
  }
  .button1{
      padding: 0.6rem 1.5rem;
      font-size: 2vw;
  }
}

@media screen and (max-width: 500px){
  .header {
      padding: 0.7rem 2rem; 
  }
  #hero{
      font-size: 3vw;
      line-height: 2.3vw;
  }
  .logo-bawah{
      font-size: 1.5vw;
  }
  .logo-img img{
      width: 4vw;
      height: auto;
  }
  .button-wrapper{
      position: absolute;
      right: 16%;
  }
  .button1{
      padding: 0.35rem 0.9rem;
      font-size: 2.5vw;
  }
  .icons {
      position: absolute;
      top: 27%;
      right: 7%;
      display: block;
      width: 5.5vw;
      height: auto;
  }
  #check:checked~.icons #close-icon {
      display: block;
      position: absolute;
      width: 1.1rem;
      height: auto;
      right: 7%;
      top: 22%;
  }
}

/* ========================================== ISI TESTIMONY PAGE ========================================*/

.isi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #deefff;
  background: linear-gradient(117deg, #fff 0%, #deefff 70.61%);
  padding-top: 11vw;
  padding-bottom: 6vw;
}

.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideInContent 1s ease forwards;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 0.5vw;
  color: #0049a8;
}

.header-subtitle {
  margin-bottom: 3vw;
  font-size: 17px;
  line-height: 45px;
  font-weight: 500;
}

.testimony-page {
  max-width: 70%;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: white;
  border: none;
  background: #b0d8ff;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slide-button:hover {
  background: #66b4ff;
}

#prev-slide {
  left: -90px;
  display: none;
}

#next-slide {
  right: -90px;
}

.image-list {
  display: grid;
  gap: 50px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.image-list::-webkit-scrollbar {
  display: none;
}

.image-item {
  width: 420px;
  height: auto;
  object-fit: cover;
}

.slider-scrollbar {
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
}

.scrollbar-track {
  height: 3px;
  width: 100%;
  background: #66b4ff;
  position: relative;
  border-radius: 4px;
}

.scrollbar-track:hover {
  height: 6px;
}

.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #0049a8;
  border-radius: inherit;
  cursor: grab;
}

.scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -1px;
}

.scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  bottom: -30px;
}

@media screen and (max-width: 1200px) {
  .testimony-page {
    max-width: 87%;
  }

  .slide-button {
    display: none !important;
  }

  .image-list {
    gap: 40px;
    margin-bottom: 25px;
  }

  .scrollbar-thumb {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .isi {
    padding-top: 20vw;
  }
  .header-title {
    font-size: 14px;
    margin-bottom: 1.5vw;
  }
  .header-subtitle {
    font-size: 12px;
    line-height: 35px;
    margin-bottom: 3vw;
    width: 80%;
  }
  .testimony-page {
    max-width: 87%;
  }

  .slide-button {
    display: none !important;
  }

  .image-list {
    gap: 0px;
    margin-bottom: 25px;
  }

  .image-list img{
    transform: scale(0.85);
  }

  .scrollbar-thumb {
    width: 15%;
  }
}

/* ================================ FOOTER ================================= */

.footer {
  width: 100%;
  padding: 4vw 7vw 2vw 6.2vw;
  margin: 0;
  box-sizing: border-box;
  background: #001f4a;
}

.bagiDuaFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
}

.footerTigaAtas {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}
.section-button {
  width: 50%;
  display: flex;
  align-items: flex-end;
  gap: 1.7vw;
}

.jenius-bawah {
  line-height: 1.9vw;
}

.footerTigaBox {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 1.5vw;
}

.footerTigaBox p {
  font-size: 1.2vw;
  color: #7790b2;
  line-height: 1.9vw;
  width: 22vw;
}

.footerIsiTiga {
  margin-bottom: -0.5vw;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

#subscribe-footer {
  display: flex;
  flex-direction: column;
}

.footer-bs {
  border-top: 0.1vw solid #345a8b;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#footer-btn {
  padding: 0.7vw 1.3vw;
  font-size: 1.3vw;
  width: 10.5vw;
  text-align: center;
}

.footer-button {
  display: flex;
  width: 4vw;
  height: 4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30vw;
  background: #66b4ff;
}

.footer-button img {
  width: 50%;
}

.footer-button:hover img {
  animation: bounce-skills 0.6s;
}

.footer-bs p {
  font-size: 1.2vw;
  color: #7790b2;
}

#footer_button {
  width: 4vw;
  height: 4vw;
}

#facebook {
  width: 1.3vw;
}

.title {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

@media screen and (max-width: 1200px) {
  .footerTigaBox p {
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
  .footer-bs p {
    font-size: 1.4vw;
  }
  #footer_button {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 1vw 2vw 0vw 1.5vw;
  }
  .jenius-bawah {
    font-size: 2.5vw;
    margin-bottom: 0.4vw;
  }
  .bagiDuaFooter {
    padding: 4.5vw 6vw 4vw 6vw;
    gap: 4vw;
  }
  .footer-bs {
    padding-top: 3vw;
  }
  .footerTigaBox {
    gap: 2vw;
  }
  .footerTigaBox p {
    font-size: 1.8vw;
    line-height: 2.7vw;
  }
  .footer-bs p {
    font-size: 1.6vw;
  }
  .footer-button {
    width: 5.8vw;
    height: 5.8vw;
  }
  #footer_button {
    width: 5.5vw;
    height: 5.5vw;
  }
  #footer-btn {
    margin-top: 0.7vw;
    padding: 1vw 1.3vw;
    font-size: 2vw;
    width: 15.5vw;
  }
  .title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .jenius-bawah {
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  .title {
    font-size: 3vw;
  }
}

/*============================================= ANIMATIONS ========================================*/

@keyframes slideInContent {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translate(0);
  }
}